/* You can add global styles to this file, and also import other style files */

i {
  cursor: pointer;
}

.app-container {
  width: 90%;
  margin: 15px auto;
}

.green {
  background: #DCEDC8;
}

.uk-table {
  width: 100%;
}