<div>
    <form class="uk-flex">
      <input class="uk-input" type="text" name="breweryName" [(ngModel)]="beer.breweryName" placeholder="Brewery Name" />
      <input class="uk-input" type="text" name="beerName" [(ngModel)]="beer.beerName" placeholder="Beer Name"  />
      <input class="uk-input" type="text" name="beerStyle" [(ngModel)]="beer.beerStyle" placeholder="Beer Style" />
      <input class="uk-input" type="text" name="abv" [(ngModel)]="beer.abv" placeholder="ABV" />
      <input class="uk-input" type="text" name="ibu" [(ngModel)]="beer.ibu" placeholder="IBU" />
      <button class="uk-button uk-button-primary" type="submit">Add</button>
    </form>
  </div>
